.container {
    width: 1480px;
    margin: 0 auto;

    @media (max-width: 1500px) {
        padding: 0 50px 0 50px;
        width: 100%;
    }
}

.bgOverlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 2000px;
    position: absolute;
    top: 0;
}