.mainDescription,
.kitsDescription {
    width: 807px;

    li {
        list-style: disc;
        color: #505050;
        font-weight: 700;
        font-size: 37px;
        line-height: 50px;
        color: #505050;
        margin-left: 50px;

        @media (max-width: 750px) {
            font-size: 2rem;
        }

        @media (max-width: 520px) {
            font-size: 1.8rem;
        }
    }

    span {
        font-weight: 900;
        font-size: 37px;
        line-height: 50px;
        color: #505050;

        @media (max-width: 750px) {
            font-size: 2.3rem;
        }

        @media (max-width: 520px) {
            font-size: 2rem;
        }
    }
}

.donateNumberHead {
    display: flex;
    align-items: center;

    span {
        width: 91px;
        height: 91px;
        display: flex;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 800;
        font-size: 39px;
        color: #FFFFFF;

        @media (max-width: 750px) {
            font-size: 2.2rem;
            width: 70px;
            height: 70px;
        }

        @media (max-width: 520px) {
            font-size: 1.8rem;
            width: 55px;
            height: 55px;
        }
    }
}

.title {
    margin-left: 20px;
    font-weight: 800;
    font-size: 40px;
    color: #EB6363;

    @media (max-width: 750px) {
        font-size: 2.2rem;
    }
}

.description {
    margin-left: 111px;

    @media (max-width: 750px) {
        margin-top: 5px;
        margin-left: 0;
    }
}

.mainDescription {
    margin-bottom: 10px;
}

.buyButton {
    padding: 15px 27px;
    border-radius: 10px;
    font-weight: 900;
    font-size: 34px;
    color: #FFFFFF;
    margin-left: 30px;
    transition: all 0.3s ease-in-out;

    &:hover {
        filter: saturate(150%);
        transform: translateY(-10px);
    }

    @media (max-width: 520px) {
        margin-left: 0;
        margin-top: 15px;
    }
}

.price {
    font-weight: 900;
    font-size: 34px;
    color: #EB8363;
}

.donateItemContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;

    div {
        ul {
            width: 100%;
        }
    }
}

.donateItemWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 1500px) {
        justify-content: center;
    }
}

.donateActions {
    margin-top: 30px;

    @media (max-width: 520px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.line {
    border: 1px solid #f1f1f1;
    width: 100%;
    margin-top: 50px;
    border-radius: 50%;
    margin-bottom: 50px;
}

.boughtButton {
    font-weight: 900;
    font-size: 34px;
    margin-left: 30px;
    color: #505050;
}